Repository openshift/router, pull requests merged in 2024-04, with the labels that each got.

#573 OCPBUGS-32044: Introduce 'idle-close-on-response' option for frontends
  images/router/haproxy/conf/haproxy-config.template
Labels: approved, lgtm, jira/valid-bug, jira/severity-critical, jira/valid-reference

#552 OCPBUGS-26498: Reject routes with SHA1 certs
  pkg/router/routeapihelpers/validation.go
  pkg/router/routeapihelpers/validation_test.go
  pkg/router/template/plugin_test.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#575 "OCPBUGS-26498: Add Upgrade Validation force arguments for running E2E tests"
  pkg/cmd/infra/router/router.go
  pkg/cmd/infra/router/template.go
  pkg/router/controller/upgrade_validation.go
  pkg/router/template/plugin_test.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#576 OCPBUGS-29690: Count active services before setting weight to 1
  pkg/router/template/router.go
  pkg/router/template/router_test.go
Labels: approved, lgtm, qe-approved, jira/valid-bug, jira/severity-critical, jira/valid-reference

#588 OCPBUGS-26498: Make ingressConditionsEqual more efficient
  pkg/router/controller/contention.go
  pkg/router/controller/extended_validator.go
  pkg/router/controller/host_admitter.go
  pkg/router/controller/status.go
  pkg/router/controller/status_test.go
  pkg/router/controller/unique_host.go
  pkg/router/controller/upgrade_validation.go
  pkg/router/template/configmanager/haproxy/blueprint_plugin.go
  pkg/router/template/plugin.go
  pkg/router/writerlease/writerlease.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference
